.konten {
  background-color: #e2edff;
  padding-top: 3rem;
}

.table {
  width: 70%;
  border: 2px solid;
}

thead {
  background-color: #f0f8ff;
}

tbody {
  background-color: #f0ffff;
}

a {
  text-decoration: none;
  color: white;
}

i {
  padding-right: 10px;
}

#kontak {
  padding-top: 2rem;
}
