<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <style>
      h1 {
        padding-top: 20%;
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>404 : Page not found</h1>
  </body>
</html>
