<!-- Body/Table-->
<section class="konten">
  <center>
    <h2 class="display-6">Welcome to my Library!</h2>
    <br />
    <table class="table table-responsive table-hover table-striped table-bordered border-dark text-center">
      <thead>
        <tr>
          <th rowspan="2">No.</th>
          <th rowspan="2">Book Cover</th>
          <th colspan="3">Detail</th>
          <th rowspan="2">Action</th>
        </tr>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach((element, index) => { %>
        <tr>
          <td><%= ++index %></td>
          <td><img src="img/<%= element.image %>" alt="<%= element.alt %>" width="200" height="200" /></td>
          <td><b><%= element.title %></b></td>
          <td><%= element.description %></td>
          <td><b><%= element.price %></b></td>
          <td>
            <a type="button" class="btn btn-success" href="/buy" target="_blank">Buy</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#ffffff"
        fill-opacity="10"
        d="M0,128L48,117.3C96,107,192,85,288,106.7C384,128,480,192,576,202.7C672,213,768,171,864,165.3C960,160,1056,192,1152,181.3C1248,171,1344,117,1392,90.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </center>
</section>
