<!-- Body/Form -->
<section class="konten">
  <center>
    <h4>Please input your personal information to register</h4>
  </center>
  <div class="container" style="padding-left: 20%">
    <br />
    <div class="form">
      <form name="formRegister" onsubmit="validateForm()">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" name="fname" id="fname" required />
          </div>
          <div class="col-md-6">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lname" id="lname" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label for="emailaddress" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="emailaddress" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label for="pass" class="form-label">Password</label>
            <input type="password" class="form-control" name="pass" id="pass" required />
            <p id="error"></p>
          </div>
        </div>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="genderMale" id="gender1" value="Male" />
              <label class="form-check-label" for="gender1"> Male </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="genderFemale" id="gender2" value="Female" />
              <label class="form-check-label" for="gender1"> Female </label>
            </div>
          </div>
        </fieldset>
        <div class="row mb-3">
          <div class="col-12">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" name="birthday" id="birthday" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label for="picture" class="form-label">Profile picture</label>
            <input type="file" class="form-control" name="picture" id="picture" required />
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="check" required />
          <label class="form-check-label" for="check">Are you sure your data above is correct?</label>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-danger" style="margin-right: 5px">Reset</button>
      </form>
      <div id="hasil"></div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#ffffff"
      fill-opacity="10"
      d="M0,128L48,117.3C96,107,192,85,288,106.7C384,128,480,192,576,202.7C672,213,768,171,864,165.3C960,160,1056,192,1152,181.3C1248,171,1344,117,1392,90.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</section>
