<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/buy.css" />
    <link rel="stylesheet" href="css/register.css" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#">MY LIBRARY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#kontak">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Body -->
    <%- body %>

    <!-- Contact -->
    <div id="kontak">
      <div class="container text-center">
        <h3>You can contact me</h3>
        <div class="row">
          <div class="col-md-4">
            <i><img src="img/gmail.svg" alt="icon_gmail" width="35px" height="35px" /></i><a href="mailto:noufalrifqiiman@gmail.com" style="color: black">noufalrifqiiman@gmail.com</a>
          </div>
          <div class="col-md-4">
            <i><img src="img/ig.svg" alt="icon_instagram" width="35px" height="35px" /></i><a href="https://www.instagram.com/noufal.rifqi/" style="color: black">noufal.rifqi</a>
          </div>
          <div class="col-md-4">
            <i><img src="img/linkedin.svg" alt="icon_linkedin" width="35px" height="35px" /></i><a href="https://www.linkedin.com/in/noufal-rifqi/" style="color: black">Muhammad Noufal Rifqi Iman</a>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#0d6efd"
          fill-opacity="1"
          d="M0,288L34.3,272C68.6,256,137,224,206,224C274.3,224,343,256,411,256C480,256,549,224,617,218.7C685.7,213,754,235,823,218.7C891.4,203,960,149,1029,154.7C1097.1,160,1166,224,1234,240C1302.9,256,1371,224,1406,208L1440,192L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!-- Footer -->
    <footer class="bg-primary text-white text-center pb-5">
      <p>Created by <b>Muhammad Noufal Rifqi Iman</b></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="js/register.js"></script>
  </body>
</html>
